<img src="{{{picture}}}" />
<h1>{{question}} ({{number}}/{{total}})</h1>

<form action="answer">
    {{#each variants}}
        <input type="radio", name="answer" value="{{{this}}}">{{this}}
    {{/each}}
    <input type="submit" value="Answer">
</form>
